<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
	 <listeners>
		<listener class-name="resources.suiteListeners"/>
		<listener class-name="resources.ExtentReporterNG"/>
	</listeners>
	<test name="Test">
		<parameter name="URL"
			value="https://learn.letskodeit.com/p/practice" />
		<classes>
			<class name="Selenium.letsKodItTestCases" />
			<class name="Selenium.msrctcTestCases" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
